---

- name: Create zsh config directory
  ansible.builtin.file:
    path: "{{ zsh_user_config_dir }}"
    state: directory
    owner: "{{ item.username }}"
    mode: 0755
  loop: "{{ users }}"

- name: Create zshrc file
  ansible.builtin.template:
    src: "{{ (item.zshrc | default({})).template | default(zsh_zshrc_template) }}"
    dest: "{{ zsh_zshrc_file }}"
    mode: 0755
    validate: "zsh -n %s"
    lstrip_blocks: yes
  become: yes
  become_user: "{{ item.username }}"
  loop: "{{ users }}"


- name: Create aliases config file
  ansible.builtin.template:
    src: "{{ (item.aliases | default({})).template | default(zsh_aliases_template) }}"
    dest: "{{ zsh_aliases_file }}"
    mode: 0755
    validate: "zsh -n %s"
  become: yes
  become_user: "{{ item.username }}"
  loop: "{{ users }}"


- name: Upload template files
  ansible.builtin.template:
    src: "{{ item.1.src }}"
    dest: "{{ item.1.dest }}"
    mode: 0644
    validate: "zsh -n %s"
  become: yes
  become_user: "{{ item.0.username }}"
  loop: "{{ q('subelements', users, 'zsh_config_templates', {'skip_missing': True}) }}"
