{% block ohmyzsh_plugins %}
zinit snippet OMZP::git
zinit snippet OMZP::sudo
zinit snippet OMZP::systemd
zinit snippet OMZP::vagrant
zinit snippet OMZP::autojump
zinit ice svn as=completions; zinit snippet OMZP::docker
{% endblock %}

{% block ohmyzsh_libraries %}
zinit snippet OMZL::completion.zsh
zinit snippet OMZL::history.zsh
zinit snippet OMZL::directories.zsh
zinit snippet OMZL::git.zsh
zinit snippet OMZL::key-bindings.zsh
zinit snippet OMZL::clipboard.zsh
{% endblock %}

{% block zinit_plugins %}
zinit load zinit-zsh/z-a-patch-dl # allows downloading files and applying patches
zinit load zinit-zsh/z-a-bin-gem-node # provides shims for installed binaries

zinit load popstas/zsh-command-time
zinit load zsh-users/zsh-autosuggestions
zinit ice blockf; zinit load zsh-users/zsh-completions
zinit ice depth=1; zinit load romkatv/powerlevel10k
zinit load zpm-zsh/clipboard
zinit load zpm-zsh/undollar
zinit load zdharma/fast-syntax-highlighting
zinit load supercrabtree/k
zinit load sparsick/ansible-zsh
zinit load Tarrasch/zsh-autoenv
zinit load djui/alias-tips
zinit ice atload="autoload -U +X bashcompinit && bashcompinit" zinit load macunha1/zsh-terraform
zinit ice wait=!0 lucid; zinit load mattberther/zsh-pyenv
zinit ice as=command from=gh-r sbin=fzf id-as=fzf; zinit load junegunn/fzf
zinit ice depth"1" multisrc"shell/{completion,key-bindings}.zsh" pick="/dev/null"; zinit load junegunn/fzf
zinit ice wait=!0 lucid; zinit load lukechilds/zsh-nvm
zinit ice sbin=bin/{tfenv,terraform}; zinit load tfutils/tfenv
zinit ice sbin=bin/{tgenv,terragrunt}; zinit load cunymatthieu/tgenv
{% endblock %}
